html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  zoom: 1;
  background: #f8fafb !important;
  color: #222;
}

body {
  background: #f8fafb !important;
  min-height: 100vh;
  color: #222;
}

#root {
  min-height: 100vh;
  background: #f8fafb;
}
